@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-text {
    font-size: 16px;
    line-height: 22px;
    font-family: "Gilroy";
    color: #ffffff;
  }
  .blog-side-trend-title {
    font-size: 20px;
    line-height: 32px;
    font-family: "GilroySemiBold";
    color: #0b231d;
  }
  
  .blog-trend-title {
    font-size: 24px;
    line-height: 32px;
    font-family: "GilroySemiBold";
    color: #0b231d;
  }
  .blog-trend-readpost {
    font-size: 16px;
    line-height: 24px;
    font-family: "GilroySemiBold";
    color: #63c121;
    border-bottom: 1px solid;
    width: fit-content;
    line-height: 0.9;
    /* text-decoration: underline;; */
    cursor: pointer;
  }
  .login-signup {
    margin-top: 24;
    font-family: "GilroyMedium";
    font-size: 16px;
    line-height: 22px;
    background: #1a4b3d;
    border-radius: 50px;
    padding: 10px 12px;
  }
.news-title {
  font-size: 24px;
  line-height: 33px;
  font-family: "Gilroy";
  color: #0b231d;
}
.news-text {
    font-size: 52px;
    line-height: 62.87px;
    font-family: GilroyBold;
    color: #0b231d;
}
.green-border-btn1 {
  border: 1px solid #1e5e4b;
  border-radius: 50px;
  padding: 8px 20px;
  font-family: "GilroyMedium";
  font-size: 14px;
  line-height: 20px;
  color: white;
  height: 36px;
  display: flex;
  align-items: center;
}
.dont-acc {
  font-family: "Gilroy";
  font-size: 14px;
  line-height: 20px;
  color: #333333;
}
.login-bottom-txt {
  font-family: "Gilroy";
  /* position: absolute; */
  /* bottom: 32px; */
  /* left: 32px; */
  color: #475467;
  font-size: 14px;
  line-height: 20px;
}
@media only screen and (max-width: 1024px) {
  .news-title {
    font-size: 20px;
    line-height: 24px;
    font-family: "GilroyMedium";
    color: #0b231d;
  }
}
